<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/style.css">
    </head> 
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="image/weather.jpg">
            <p>This app provides real-time accurate weather information for anytime and anywhere. 
                It uses data from mapbox.com and weatherstack.com.
            </p>
        </div>

        {{>footer}}
    </body>
</html>